tourconnect-export.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="type_location_policy">
    <xs:sequence>
      <xs:element name="infant_policy_not_applicable" type="xs:boolean"/>
      <xs:element name="reason_for_infant_policy_not_applicable" type="xs:string"/>
      <xs:element name="infant_age" type="xs:string"/>
      <xs:element name="child_policy_not_applicable" type="xs:boolean"/>
      <xs:element name="reason_for_child_policy_not_applicable" type="xs:string"/>
      <xs:element name="children_age" type="xs:string"/>
      <xs:element name="family_policy_not_applicable" type="xs:boolean"/>
      <xs:element name="adult_count" type="xs:integer"/>
      <xs:element name="children_count" type="xs:integer"/>
      <xs:element name="child_accompany_count" type="xs:integer"/>
      <xs:element name="cancellation_policy_conditions" type="xs:string"/>
      <xs:element name="free_of_charge_policy_not_applicable" type="xs:boolean"/>
      <xs:element name="free_of_charge_policy_conditions" type="xs:string"/>
      <xs:element name="group_policy_not_applicable" type="xs:boolean"/>
      <xs:element name="group_policy_conditions" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_season_period">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="start_date" type="xs:date"/>
      <xs:element name="end_date" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_rate_detail">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="price_code" type="xs:string"/>
      <xs:element name="max_adults" type="xs:integer"/>
      <xs:element name="max_adults_plus_child" type="xs:integer"/>
      <xs:element name="retail_rate" type="xs:float"/>
      <xs:element name="nett_rate" type="xs:float"/>
      <xs:element name="extra_adult" type="xs:float"/>
      <xs:element name="extra_child" type="xs:float"/> 
      <xs:element name="not_applicable" type="xs:boolean"/>
      <xs:element name="reason_for_not_applicable" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_transfer_extra">
    <xs:sequence>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="from_location" type="xs:string"/>
      <xs:element name="to_location" type="xs:string"/>
      <xs:element name="max_passenger" type="xs:integer"/>
      <xs:element name="provide_by_hotel" type="xs:boolean"/>
      <xs:element name="include_baby_seat" type="xs:boolean"/>
      <xs:element name="is_complimentary" type="xs:boolean"/>
      <xs:element name="rate" type="xs:float"/>
      <xs:element name="commission_percentage" type="xs:float"/>
      <xs:element name="adult_return_rate" type="xs:float"/>
      <xs:element name="adult_return_nett_rate" type="xs:float"/>
      <xs:element name="child_return_rate" type="xs:float"/>
      <xs:element name="child_return_nett_rate" type="xs:float"/>
      <xs:element name="adult_one_way_rate" type="xs:float"/>
      <xs:element name="luggage_restrictions" type="xs:string"/>
      <xs:element name="pick_up_detail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_meal_extra">
    <xs:sequence>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="rate" type="xs:string"/>
      <xs:element name="commission_percentage" type="xs:float"/>
      <xs:element name="extra_details">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="extra_detail">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="name" type="xs:string"/>
                  <xs:element name="adult_rate" type="xs:float"/>
                  <xs:element name="child_rate" type="xs:float"/>
                  <xs:element name="adult_retail_rate" type="xs:float"/>
                  <xs:element name="adult_nett_rate" type="xs:float"/>
                  <xs:element name="child_retail_rate" type="xs:float"/>
                  <xs:element name="child_nett_rate" type="xs:float"/>
                  <xs:element name="description" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_other_extra">
    <xs:sequence>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="rate" type="xs:string"/>
      <xs:element name="commission_percentage" type="xs:float"/>
      <xs:element name="extra_details">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="extra_detail">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="description" type="xs:string"/>
                  <xs:element name="max_adults" type="xs:integer"/>
                  <xs:element name="max_adults_plus_child" type="xs:integer"/>
                  <xs:element name="retail_rate" type="xs:float"/>
                  <xs:element name="nett_rate" type="xs:float"/>
                  <xs:element name="extra_adult" type="xs:string"/>
                  <xs:element name="extra_child" type="xs:string"/>
                  <xs:element name="not_applicable" type="xs:boolean"/>
                  <xs:element name="not_applicable_reason" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_extra">
    <xs:sequence>
      <xs:element name="transfer_extras" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="transfer_extra" type="type_transfer_extra"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="meal_extras" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="meal_extra" type="type_meal_extra"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="porterage_extras" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="porterage_extra" type="type_other_extra"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="other_extras" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="other_extra" type="type_other_extra"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_special_offer">
    <xs:sequence>
      <xs:element name="room_upgrade_offers">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="room_upgrade_offer" type="type_room_upgrade_offer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="family_offers">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="family_offer" type="type_family_offer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="bonus_offers">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="bonus_offer" type="type_bonus_offer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_room_upgrade_offer">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="booking_code" type="xs:string"/>
      <xs:element name="combine_with_other" type="xs:boolean"/>
      <xs:element name="combine_offer_desc" type="xs:string"/>
      <xs:element name="special_conditions" type="xs:string"/>
      <xs:element name="room_type_upgrades">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="room_type_upgrade">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="from_room_type" type="xs:string"/>
                  <xs:element name="to_room_type" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_family_offer">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="booking_code" type="xs:string"/>
      <xs:element name="combine_with_other" type="xs:boolean"/>
      <xs:element name="combine_offer_desc" type="xs:string"/>
      <xs:element name="special_conditions" type="xs:string"/>
      <xs:element name="offer_detail" type="xs:string"/>
      <xs:element name="family_offer_room_types">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="family_offer_room_type">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="room_type" type="xs:string"/>
                  <xs:element name="rate" type="xs:string"/>
                  <xs:element name="rate_discount_type" type="xs:string"/>
                  <xs:element name="rate_discount_amount" type="xs:float"/>
                  <xs:element name="rate_nett" type="xs:float"/>
                  <xs:element name="rate_commission" type="xs:float"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_bonus_offer">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="booking_code" type="xs:string"/>
      <xs:element name="combine_with_other" type="xs:boolean"/>
      <xs:element name="combine_offer_desc" type="xs:string"/>
      <xs:element name="special_conditions" type="xs:string"/>
      <xs:element name="offer_detail" type="xs:string"/>
      <xs:element name="rate_type" type="xs:string"/>
      <xs:element name="member_count" type="xs:integer"/>
      <xs:element name="member_max_count" type="xs:integer"/>
      <xs:element name="rate" type="xs:string"/>
      <xs:element name="rate_discount_type" type="xs:string"/>
      <xs:element name="rate_discount_amount" type="xs:float"/>
      <xs:element name="rate_nett" type="xs:float"/>
      <xs:element name="rate_commission" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_contract_header">
    <xs:sequence>
      <xs:element name="tourconnect_contract_id"/>
      <xs:element name="tourconnect_contract_version" type="xs:integer"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="start_date" type="xs:date"/>
      <xs:element name="end_date" type="xs:date"/>
      <xs:element name="amendment_version" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_contract_footer">
    <xs:sequence>
      <xs:element name="signatures">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="signature" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="supplier_sign_date" type="xs:date"/>

                  <xs:element name="supplier_user" type="xs:string"/>
                  <xs:element name="contractor_sign_date" type="xs:date"/>
                  <xs:element name="contractor_user" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="revision_histories">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="revision_history" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="revision" type="xs:integer"/>
                  <xs:element name="date_and_time" type="xs:dateTime"/>
                  <xs:element name="editing_company" type="xs:string"/>
                  <xs:element name="section" type="xs:string"/>
                  <xs:element name="contract_changes" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="change" maxOccurs="unbounded" minOccurs="0" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_contract_location">
    <xs:sequence>
      <xs:element name="location_type" type="xs:string"/>
      <xs:element name="unique_id" type="xs:string"/>
      <xs:element name="property_name" type="xs:string"/>
      <xs:element name="reference_id" type="xs:string"/>
      <xs:element name="total_number_of_rooms" type="xs:integer"/>
      <xs:element name="short_description" type="xs:string"/>
      <xs:element name="long_description" type="xs:string"/>
      <xs:element name="complies_to_eu_regulation" type="xs:boolean"/>
      <xs:element name="phone" type="xs:string"/>
      <xs:element name="fax" type="xs:string"/>
      <xs:element name="web_site" type="xs:string"/>
      <xs:element name="transfers_not_provided" type="xs:boolean"/>
      <xs:element name="special_offers_not_provided" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="0" name="address">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="address_1" type="xs:string"/>
            <xs:element name="address_2" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="state" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="postal_code" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="contact_informations">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="contact_information">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="first_name" type="xs:string"/>
                  <xs:element name="last_name" type="xs:string"/>
                  <xs:element name="email" type="xs:string"/>
                  <xs:element name="phone" type="xs:string"/>
                  <xs:element name="fax" type="xs:string"/>
                  <xs:element name="contact_type" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="rating_and_amenities">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="classifications">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="classification" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="rating" type="xs:integer"/>
            <xs:element name="rating_type" type="xs:string"/>
            <xs:element name="amenities">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0"  name="amenity" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="location_policy" type="type_location_policy"/>
      <xs:element maxOccurs="1" minOccurs="0" name="special_offer" type="type_special_offer"/>
      <xs:element maxOccurs="1" minOccurs="0" name="extras" type="type_extra"/>
      <xs:element maxOccurs="1" minOccurs="0" name="billing_detail">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="insurance_information">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="name" type="xs:string"/>
                  <xs:element name="expire_month" type="xs:integer"/>
                  <xs:element name="expire_year" type="xs:integer"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="financial_institution" type="xs:string"/>
            <xs:element name="branch" type="xs:string"/>
            <xs:element name="bsb_routing" type="xs:string"/>
            <xs:element name="account_number" type="xs:string"/>
            <xs:element name="account_name" type="xs:string"/>
            <xs:element name="iban_swift_code" type="xs:string"/>
            <xs:element name="currency" type="xs:string"/>
            <xs:element name="tax" type="xs:string"/>
            <xs:element name="terms" type="xs:string"/>
            <xs:element name="abn" type="xs:string"/>
            <xs:element name="location_billing" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="accommodation_products">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="accommodation_product">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="name" type="xs:string"/>
                  <xs:element name="code" type="xs:string"/>
                  <xs:element name="reference_id" type="xs:string"/>
                  <xs:element name="unique_id" type="xs:string"/>
                  <xs:element name="short_desc" type="xs:string"/>
                  <xs:element name="detail" type="xs:string"/>
                  <xs:element name="general_notes" type="xs:string"/>
                  <xs:element name="complies_to_eu_regulation" type="xs:boolean"/>
                  <xs:element name="total_room_of_this_type" type="xs:integer"/>
                  <xs:element maxOccurs="1" minOccurs="0" name="room">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="interconnecting_rooms" type="xs:boolean"/>
                        <xs:element name="classification" type="xs:string"/>
                        <xs:element name="avg_room_size" type="xs:string"/>
                        <xs:element name="room_size_units" type="xs:string"/>
                        <xs:element name="beddings">			
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="unbounded" minOccurs="0" name="bedding">			
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="existing_beddings">			
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element maxOccurs="unbounded" minOccurs="0" name="existing_beddings" type="xs:string"/>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="other_bed_details" type="xs:string"/>
                                    <xs:element name="number_of_sofa" type="xs:integer"/>
                                    <xs:element name="number_of_rollaways" type="xs:integer"/>
                                    <xs:element name="existing_bedding_for_children" type="xs:boolean"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="amenities">			
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="unbounded" minOccurs="0" name="amenity" type="xs:string"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="seasons" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="season">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="name" type="xs:string"/>
                              <xs:element name="start_date" type="xs:date"/>
                              <xs:element name="end_date" type="xs:date"/>
                              <xs:element name="rate_carry_over_to_next_season" type="xs:boolean"/>
                              <xs:element name="season_rates">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="season_rate">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="room_rate_type" type="xs:string"/>
                                          <xs:element maxOccurs="1" minOccurs="0" name="market" type="xs:string"/>
                                          <xs:element maxOccurs="1" minOccurs="0" name="other_market" type="xs:string"/>
                                          <xs:element maxOccurs="1" minOccurs="0" name="all_other_market" type="xs:string"/>
                                          <xs:element name="allocation_type" type="xs:string"/>
                                          <xs:element name="room_allotments">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="room_allotment">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element name="number_of_rooms" type="xs:integer"/>
                                                      <xs:element name="releaseback_days" type="xs:integer"/>
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element name="cancellation_policy" type="xs:string"/>
                                          <xs:element name="rate_sets">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="rate_set">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element name="name" type="xs:string"/>
                                                      <xs:element name="code" type="xs:string"/>
                                                      <xs:element name="template_type" type="xs:string"/>
                                                      <xs:element name="days_of_week">
                                                        <xs:complexType>
                                                          <xs:sequence>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="day_of_week" type="xs:string"/>
                                                          </xs:sequence>
                                                        </xs:complexType>
                                                      </xs:element>
                                                      <xs:element name="no_of_stay_days" type="xs:integer"/>
                                                      <xs:element name="no_of_pay_days" type="xs:integer"/>
                                                      <xs:element name="multiple_stay_pay_allowed" type="xs:boolean"/>
                                                      <xs:element name="min_stay" type="xs:integer"/>
                                                      <xs:element name="max_stay" type="xs:integer"/>
                                                      <xs:element name="rates" type="xs:integer"/>
                                                      <xs:element name="commission_percentage" type="xs:integer"/>
                                                      <xs:element name="rate_type" type="xs:string"/>
                                                      <xs:element name="rate_details">
                                                        <xs:complexType>
                                                          <xs:sequence>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="rate_details">
                                                              <xs:complexType>
                                                                <xs:sequence>
                                                                  <xs:element name="description" type="xs:string"/>
                                                                  <xs:element name="price_code" type="xs:string"/>
                                                                  <xs:element name="max_adults" type="xs:string"/>
                                                                  <xs:element name="max_adults_plus_child" type="xs:string"/>
                                                                  <xs:element name="retail_rate" type="xs:string"/>
                                                                  <xs:element name="nett_rate" type="xs:string"/>
                                                                  <xs:element name="extra_adult" type="xs:string"/>
                                                                  <xs:element name="extra_child" type="xs:string"/>
                                                                  <xs:element name="not_applicable" type="xs:string"/>
                                                                  <xs:element name="reason_for_not_applicable" type="xs:string"/>
                                                                  <xs:element maxOccurs="1" minOccurs="0" name="extras" type="type_extra"/>
                                                                </xs:sequence>
                                                              </xs:complexType>
                                                            </xs:element>
                                                          </xs:sequence>
                                                        </xs:complexType>
                                                      </xs:element>
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="blackout_periods">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="blackout_period" type="type_season_period"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="room_upgrade_offers">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="unbounded" minOccurs="0" name="room_upgrade_offer" type="type_room_upgrade_offer"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="family_offers">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="unbounded" minOccurs="0" name="family_offer" type="type_family_offer"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="bonus_offers">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="unbounded" minOccurs="0" name="bonus_offer" type="type_bonus_offer"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="location_policy" type="type_location_policy"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="non_accommodation_products">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="non_accommodation_product">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="service_name" type="xs:string"/>
                  <xs:element name="tour_code" type="xs:string"/>
                  <xs:element name="reference_id" type="xs:string"/>
                  <xs:element name="does_not_apply" type="xs:boolean"/>
                  <xs:element name="tour_duration" type="xs:integer"/>
                  <xs:element name="tour_duration_unit" type="xs:string"/>
                  <xs:element name="short_desc" type="xs:string"/>
                  <xs:element name="desc" type="xs:string"/>
                  <xs:element name="adult_min_pax" type="xs:integer"/>
                  <xs:element name="child_min_pax" type="xs:integer"/>
                  <xs:element name="total_min_pax" type="xs:integer"/>
                  <xs:element name="adult_max_pax" type="xs:integer"/>
                  <xs:element name="child_max_pax" type="xs:integer"/>
                  <xs:element name="total_max_pax" type="xs:integer"/>
                  <xs:element name="standard_inclusion" type="xs:string"/>
                  <xs:element name="exclusion" type="xs:string"/>
                  <xs:element name="what_to_bring" type="xs:string"/>
                  <xs:element name="unique_id" type="xs:string"/>
                  <xs:element name="seasons" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="season">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="name" type="xs:string"/>
                              <xs:element name="start_date" type="xs:date"/>
                              <xs:element name="end_date" type="xs:date"/>
                              <xs:element name="rate_carry_over_to_next_season" type="xs:boolean"/>
                              <xs:element name="tour_rates">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="tour_rate">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="room_rate_type" type="xs:string"/>
                                          <xs:element name="market" type="xs:string"/>
                                          <xs:element name="other_market" type="xs:string"/>
                                          <xs:element name="all_other_market" type="xs:string"/>
                                          <xs:element name="allocation_type" type="xs:string"/>
                                          <xs:element name="room_allotments">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="room_allotment">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element name="number_of_rooms" type="xs:integer"/>
                                                      <xs:element name="releaseback_days" type="xs:integer"/>
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element name="cancellation_policy" type="xs:string"/>
                                          <xs:element name="rate_sets">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="rate_set">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element name="name" type="xs:string"/>
                                                      <xs:element name="code" type="xs:string"/>
                                                      <xs:element name="departs_on_days">
                                                        <xs:complexType>
                                                          <xs:sequence>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="day" type="xs:string"/>
                                                          </xs:sequence>
                                                        </xs:complexType>
                                                      </xs:element>
                                                      <xs:element name="departs_on_date_ranges">
                                                        <xs:complexType>
                                                          <xs:sequence>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="departs_on_date_range">
                                                              <xs:complexType>
                                                                <xs:sequence>
                                                                  <xs:element name="start_date" type="xs:date"/>
                                                                  <xs:element name="end_date" type="xs:date"/>
                                                                </xs:sequence>
                                                              </xs:complexType>
                                                            </xs:element>
                                                          </xs:sequence>
                                                        </xs:complexType>
                                                      </xs:element>
                                                      <xs:element name="pickup_depart_time" type="xs:string"/>
                                                      <xs:element name="pickup_depart_location" type="xs:string"/>
                                                      <xs:element name="pickup_notes" type="xs:string"/>
                                                      <xs:element name="hotel_pickup_included" type="xs:boolean"/>
                                                      <xs:element name="dropoff_depart_time" type="xs:string"/>
                                                      <xs:element name="dropoff_depart_location" type="xs:string"/>
                                                      <xs:element name="dropoff_notes" type="xs:string"/>
                                                      <xs:element name="hotel_dropoff_included" type="xs:boolean"/>
                                                      <xs:element name="gst_tax_included" type="xs:boolean"/>
                                                      <xs:element name="include_meal" type="xs:boolean"/>
                                                      <xs:element name="meal_detail" type="xs:string"/>
                                                      <xs:element name="rate_details">
                                                        <xs:complexType>
                                                          <xs:sequence>
                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="rate_detail">
                                                              <xs:complexType>
                                                                <xs:sequence>
                                                                  <xs:element name="description" type="xs:string"/>
                                                                  <xs:element name="max_adults" type="xs:integer"/>
                                                                  <xs:element name="max_adults_plus_child" type="xs:integer"/>
                                                                  <xs:element name="retail_rate" type="xs:float"/>
                                                                  <xs:element name="nett_rate" type="xs:float"/>
                                                                  <xs:element name="extra_adult" type="xs:float"/>
                                                                  <xs:element name="extra_child" type="xs:float"/> 
                                                                  <xs:element name="not_applicable" type="xs:boolean"/>
                                                                  <xs:element name="reason_for_not_applicable" type="xs:string"/>
                                                                  <xs:element maxOccurs="1" minOccurs="0" name="extras" type="type_extra"/>
                                                                </xs:sequence>
                                                              </xs:complexType>
                                                            </xs:element>
                                                          </xs:sequence>
                                                        </xs:complexType>
                                                      </xs:element>
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="blackout_periods">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="blackout_period" type="type_season_period"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="special_offers">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="special_offer" type="type_bonus_offer"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="type_tourconnect_contract">
    <xs:sequence>
      <xs:element name="contract_header" type="type_contract_header"/>
      <xs:element name="contractor_contract_information" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tourconnect_id" type="xs:string"/>
            <xs:element name="company_name" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="contractor_terms_and_conditions">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="title" type="xs:string"/>
                  <xs:element name="description" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="contractor_submission_criterias">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="title" type="xs:string"/>
                  <xs:element name="description" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="supplier_contract_information" type="type_contract_location"/>
      <xs:element name="contract_footer" type="type_contract_footer"/>
    </xs:sequence>
  </xs:complexType>	
  <xs:element name="tourconnect_contract_export">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="export_reference_id">
          <xs:annotation>
            <xs:documentation>internally generated. this is so we can track any export issues and have a cross reference identifier.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="export_version_id">
          <xs:annotation>
            <xs:documentation>This is the export version id.  This will be used by partners to identify which version of the XML they are extracing from our system.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="export_contractor_id"/>
        <xs:element name="export_date_time"/>
        <xs:element name="export_record_count"/>
        <xs:element name="contracts">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="contract" type="type_tourconnect_contract"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
